<h1>Listing wickers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wickers.each do |wicker| %>
  <tr>
    <td><%= wicker.name %></td>
    <td><%= wicker.location %></td>
    <td><%= link_to 'Show', wicker %></td>
    <td><%= link_to 'Edit', edit_wicker_path(wicker) %></td>
    <td><%= link_to 'Destroy', wicker, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wicker', new_wicker_path %>
